<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Bo_Projects</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body style = "background : black">
  <div class = "row">
    <div class = "col-lg-3" style = "background-color : #FEA012"><h1></h1></div>
    <div class = "col-lg-6" style = "background-color : black"><h1></h1></div>
    <div class = "col-lg-3" style = "background-color : #FEA012"><h1></h1></div>
  </div>
  <div class = "jumbotron" style = "background-color :  black">
  <div class = "container">
    {% block content %}
    {% endblock %}
    {% include 'Home/includes/Pols.html'%}
   <a href="/" class="btn btn-warning btn-lg ">Information</a>
   <a href="/news" class="btn btn-warning btn-lg ">News</a>
  </div>
  </div>
  <div class = "row">
    <div class = "col-lg-2" style = "background-color : #FEA012"><h1></h1></div>
    <div class = "col-lg-1" style = "background-color : black"><h1></h1></div>
    <div class = "col-lg-6" style = "background-color : #FEA012"><h1></h1></div>
    <div class = "col-lg-1" style = "background-color : black"><h1></h1></div>
    <div class = "col-lg-2" style = "background-color :  #FEA012"><h1></h1></div>
  </div>
</body>
</html>
